/* https://github.com/twbs/bootstrap/issues/4160 */
/* put google places autocomplete dropdown results above the bootstrap modal 1050 zindex. */
.pac-container {
    z-index: 1051 !important;
}

.o_map_view {
    min-height: 400px;
    min-width: 400px;
    height: 100%;
    width: 100%;
}

.o_map_control .sidenav {
    min-height: 100px;
    margin: -29px 0 0 26px;
    background-color: #ffffff;
    overflow-x: hidden;
    display: none;
    border: solid 1px #7c7bad;
}

.o_map_control .sidenav p,
.o_map_control .sidenav #o_map_travel_mode span {
    padding: 5px;
    color: #818181;
    display: block;
    cursor: pointer;
}

.o_map_control .sidenav b {
    font-size: 12px;
    color: #818181;
    display: block;
    border-bottom: 1px solid #cccccc;
    text-align: center;
    padding-bottom: 5px;
}

.o_map_control .sidenav #o_map_travel_mode {
    display: none;
}

.o_map_control .sidenav p:hover {
    color: #7c7bad;
}

.o_map_control .sidenav #o_map_travel_mode span.active,
.o_map_control .sidenav p.active {
    color: #7c7bad;
    font-weight: bold;
}

.o_map_control .sidenav p img,
.o_map_control .sidenav #o_map_travel_mode p img {
    padding-left: 5px;
    padding-right: 10px;
}

.o_map_control .btn_map_control,
.o_map_places_control .btn_places_control {
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
    line-height: 20px;
    padding: 4.5px 10px;
    background: #ffffff;
    border-radius: 2px;
    width: 30px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
}

.o_map_control .btn_map_control.opened,
.o_map_places_control .btn_places_control.opened {
    background: #7c7bad;
}

.o_map_routes_window {
    min-width: 100px;
    border-radius: 2px;
    font-size: 14px;
    margin-left: 15px;
    opacity: 0.8;
    background: #ffffff;
    padding: 5px;
}

.o_map_redirect_google {
    cursor: pointer;
    text-align: center;
    width: 25px;
    height: 25px;
    margin-right: 15px;
    background-color: #ffffff;
    border-radius: 2px;
    line-height: 25px;
}

.o_map_places_control .pac-card {
    display: none;
    margin: -29px 0 0 35px;
    max-width: 450px;
    border-radius: 2px;
    background-color: #fff;
    border: solid 1px #7c7bad;
}

.o_map_places_control .pac-card #pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
}

.o_map_places_control .pac-card #pac-container #pac-button {
    padding-top: 10px;
    margin-left: 10px;
}

.o_map_places_control .pac-card #pac-container #pac-result {
    padding: 10px;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 300;
    border-bottom: 1px solid #ccc;
}

.o_map_places_control .pac-card #pac-container #pac-result div {
    display: block;
}

.o_map_places_control .pac-card .pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

.o_map_places_control .pac-card .pac-controls label {
    font-size: 13px;
    font-weight: 300;
}

.o_map_places_control .pac-card #pac-input {
    background-color: #fff;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
}

.o_map_places_control .pac-card #pac-input:focus {
    border-color: #7c7bad;
}

.o_map_control .sidenav #title,
.o_map_places_control .pac-card #title {
    color: #fff;
    background-color: #7c7bad;
    font-size: 14px;
    font-weight: 300;
    padding: 6px;
}
