/* https://github.com/twbs/bootstrap/issues/4160 */
/* put google places autocomplete dropdown results above the bootstrap modal 1050 zindex. */
.pac-container {
    z-index: 1051 !important;
}

.o_map_view {
    height: 100%;
}

.o_map_control .sidenav {
    min-height: 100px;
    width: auto;
    position: relative;
    margin-left: 10px;
    margin-top: -5px;
    background-color: #ffffff;
    overflow-x: hidden;
    display: none;
}

.o_map_control .sidenav p,
.o_map_control .sidenav #o_map_travel_mode span {
    padding: 5px;
    color: #818181;
    display: block;
    cursor: pointer;
}

.o_map_control .sidenav b {
    font-size: 12px;
    color: #818181;
    display: block;
    border-bottom: 1px solid #cccccc;
    text-align: center;
    padding-bottom: 5px;
}

.o_map_control .sidenav #o_map_travel_mode {
    display: none;
}

.o_map_control .sidenav p:hover {
    color: #5e9bff;
}

.o_map_control .sidenav #o_map_travel_mode span.active,
.o_map_control .sidenav p.active {
    color: #5e9bff;
    font-weight: bold;
}

.o_map_control .sidenav p img {
    padding-left: 5px;
    padding-right: 10px;
}

.o_map_control .sidenav #o_map_travel_mode span img {
    padding-left: 5px;
    padding-right: 10px;
}

.o_map_control .btn_map_control {
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
    line-height: 20px;
    padding: 4px 10px 4px 10px;
    background: #ffffff;
    border-radius: 2px;
}

.o_map_routes_window {
    min-width: 100px;
    border-radius: 2px;
    font-size: 14px;
    margin-left: 15px;
    opacity: 0.8;
    background: #ffffff;
    padding: 5px;
}

.o_map_redirect_google {
    cursor: pointer;
    text-align: center;
    width: 25px;
    height: 25px;
    margin-right: 15px;
    background-color: #ffffff;
    border-radius: 2px;
    line-height: 25px;
}