/* https://github.com/twbs/bootstrap/issues/4160 */
/* put google places autocomplete dropdown results above the bootstrap modal 1050 zindex. */
.pac-container {
    z-index: 1051 !important;
}

.o_field_x2many_google_map {
    margin-top: 10px;
}

.o_form_view {
    .o_google_map_container {
        max-height: 600px;

        .o_map_right_sidebar {
            &.closed {
                position: relative;
            }
        }
    }
}

.o_google_map_container {
    display: flex;
    align-content: stretch;
    overflow-x: visible;
    min-height: 550px;
    height: 100%;

    .o_google_map_view {
        width: 100%;

        .gm-style-iw {
            min-width: 300px;
        }

        .button_geolocate_user {
            .btn {
                opacity: 1;
                cursor: pointer;
                padding: 8px 9px 8px 9px;
                margin-right: 10px;
                box-shadow: rgb(0, 0, 0 / 30%) 0px 0.5px 2px -1px !important;
                border-radius: 2px;
                background-color: rgb(255, 255, 255);
            }
        }
    }

    .o_map_right_sidebar {
        top: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        z-index: 1;
        color: rgb(253, 253, 253);
        box-shadow: 0 0 8px rgba(181, 181, 181, 0.75);

        .content {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            overflow: auto;
            height: 100%;
            padding: 0px 2px 0px 2px;
        }

        &.closed {
            box-shadow: none;
            width: 0;

            .content {
                overflow: hidden;
            }
        }

        &.open {
            transform: translate3d(0, 0, 0);
            -webkit-transform: translate3d(0, 0, 0);
            -moz-transform: translate3d(0, 0, 0);
            position: relative;
            width: 25%;
        }

        li {
            &.disabled {
                background-color: #f1f1f1;
                pointer-events: auto;
                cursor: no-drop;
                a {
                    text-decoration: none;
                }
            }
        }
        .toggle_right_sidenav {
            display: block;
            position: absolute;
            right: 100%;
            top: 25%;
            z-index: -1;

            button {
                width: 25px;
                height: 60px;
                cursor: pointer;
                border-left: 1.5px solid #ddd;
                border-top: 1.5px solid #ddd;
                border-bottom: 1.5px solid #ddd;
                border-right: 0px;
                box-shadow: 0px 1px 0px #989898;
                border-radius: 4px 0px 0px 4px;
                font-size: 20px;
                background-color: rgb(248, 248, 248);
                &::before {
                    content: '\203A';
                }

                &.closed::before {
                    content: '\2039';
                }
            }

            button:focus {
                outline: none !important;
            }
        }

        .o_map_sidebar {
            small {
                &.text-mutex {
                    letter-spacing: -0.5px;
                }
            }
            span.title {
                text-shadow: 1px 1px 1px #ddd;
            }
        }

    }

    .o_map_button {
        cursor: pointer;
        text-align: center;
        width: auto;
        padding: 0px 6px;
        margin: 0px 15px 5px 0px;
        background-color: #ffffff;
        border-radius: 2px;
        line-height: 25px;
        font-family: 'Roboto,Arial,sans-serif';
    }

    .o_kanban_view {
        .o_kanban_record, .o_kanban_quick_create {
            border: none;
            margin-bottom: $o-kanban-inside-hgutter;
            width: 100%;

            &:focus, &:focus-within {
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;
            }
        }

        .o_kanban_record {
            border-top: 1px solid #ddd;
            .o_kanban_record_title {
                @include o-kanban-record-title($font-size: 14px);
            }
        }

        .o_kanban_group {
            padding: 5px 16px 5px 16px;
        }

        .oe_kanban_card, .o_kanban_record {
            .oe_kanban_details {
                ul {
                    font-size: 13px;
                }
            }
        }
    }

}