/* https://github.com/twbs/bootstrap/issues/4160 */
/* put google places autocomplete dropdown results above the bootstrap modal 1050 zindex. */
.pac-container {
    z-index: 1051 !important;
}

.o_field_x2many_google_map {
    margin-top: 10px;
}

.o_google_map_container {
    display: flex;
    align-content: stretch;
    overflow-x: visible;
    min-height: 550px;
    height: 100%;

    .o_google_map_view {
        width: 100%;

        .gm-style-iw {
            min-width: 300px;
        }
    }

    .o_map_right_sidebar {
        top: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        z-index: 3;
        overflow-x: auto;
        color: rgb(253, 253, 253);

        &.closed {
            box-shadow: none;
            transform: translate3d(100%, 0, 0);
            -webkit-transform: translate3d(100%, 0, 0);
            -moz-transform: translate3d(100%, 0, 0);
        }

        &.open {
            transform: translate3d(0, 0, 0);
            -webkit-transform: translate3d(0, 0, 0);
            -moz-transform: translate3d(0, 0, 0);
            box-shadow: 0px 0px 1px 0px rgba(181, 181, 181, 0.75);
            width: 400px;
            position: relative;
        }

        li {
            &.disabled {
                background-color: #f1f1f1;
                pointer-events: auto;
                cursor: no-drop;
                a {
                    text-decoration: none;
                    color: #989696;
                }
            }
        }
    }

    .o_map_button {
        cursor: pointer;
        text-align: center;
        width: auto;
        padding: 0px 6px;
        margin: 0px 15px 5px 0px;
        background-color: #ffffff;
        border-radius: 2px;
        line-height: 25px;
        font-family: 'Roboto,Arial,sans-serif';
    }

    .o_kanban_view {
        .o_kanban_record, .o_kanban_quick_create {
            border: none;
            margin-bottom: $o-kanban-inside-hgutter;
            width: 100%;

            &:focus, &:focus-within {
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;
            }
        }

        .o_kanban_record {
            border-top: 1px solid #ddd;
            .o_kanban_record_title {
                @include o-kanban-record-title($font-size: 14px);
            }
        }

        .o_kanban_group {
            padding: 5px 16px 5px 16px;
        }

        .oe_kanban_card, .o_kanban_record {
            .oe_kanban_details {
                ul {
                    font-size: 13px;
                }
            }
        }
    }

}
